html {
    font-family: Arial, sans-serif;
}

.bodyContainer {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: upper-roman;
}

nav ul {
    text-align: center;
    font-size: 24px;
}

nav li {
    list-style: none;
    display: inline-block;
    border-top: 2px solid rgb(233, 137, 27);
    border-bottom: 2px solid rgb(233, 137, 27);
    margin-left: 0px;
    margin-right: 0px;
    width: 90px;
}

/* icons */

.iconTableContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.iconTable {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 20px;
    margin: 15px;
}

.iconTable td {
    border: 1px solid #000;
    padding: 5px;
}

.icontable th {
    border: 1px solid #000;
    padding: 5px;
}

.iconTable .iconCol {
    text-align: center;
}

.mainHeadingTable {
    text-decoration: underline;
}

/* Logos */
.logoTable {
    border: 1px solid #000;
    border-collapse: collapse;
}

.logoTable th {
    border: 1px solid #000;
    padding: 5px;
}

.logoTable td {
    border: 1px solid #000;
    padding: 5px;
}

/* colorTable */
.colorTable {
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
}

.colorTable td,
.colorTable th {
    padding: 5px;
    border: 1px solid #000;
}

/* fontTable */
.fontTable {
    border: 1px solid #000;
    border-collapse: collapse;
}

.fontTable td,
.fontTable th {
    border: 1px solid #000;
    padding: 5px;
}